/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*
*Removes all default whitespace
*/

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: black;
}

/*
*Reset CSS model sizing calculations
*/

html {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6, p, input, a, button, select, textarea {
  font-family: 'Roboto', sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-image: url("assets/banner.jpg");
}

button {
  margin-left: 1vw;
  border: 2px solid gray;
  font-size: 1rem;
  height: 5vh;
  width: 5vw;
  color: black;
  background-color: rgba(199, 199, 199, 0.7);
}
